/* *{
    background-color: purple;
} */

body {
  font-size: 14px;
}
 img {
  max-width: 40%;
}
.beers {
  display: grid;
  grid-template-columns: 32% 32% 32%;
  grid-gap: 18px;
}
.beer {
    background: #f9f9f9;
    padding: 7px;
    text-align: center;
    cursor: pointer;
}
    img {
      width: 20%;
    }
    .fa-star {
      float: right;
      color: green;
      cursor: pointer;
      font-size: 18px;
}
.active-star {
  color: #00afdb;
}
.tabs {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-gap: 2%;
  background: white;  
  text-align: center;
  padding: 2%;
  margin-bottom: 18px;
  border-radius: 25%;
}
.tab__item {
  cursor: pointer;
}
.container {
  max-width: 900px;
  margin: 0 auto;
  position: relative;
}
.active {
  background: purple;
  color: green;
  border-radius: 20%;
}
.pop-up {
  display: none;
  position: absolute;
  background: #000;
  color: green;
  font-size: 16px;
  transform: translate(-50%, -50%);
  left: 50%;
  padding: 3%;
  width: 55%;
  top: 100%;
  z-index: 99;
}
.fa-window-close-o {
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
}
.bg {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: #00afdbd4;
  display: none;
}
.title {
  color: #00afdb; 
}
.favorites {
  display: none;
  background: #00afdb;
  position: absolute;
  width: 100%;
}
  img {
    width: 20%;
}
.favorites__title {
  background: #00afdb;
  display: inline-block;
  padding: 5px;
  color: green;
  margin: 0;
  cursor: pointer;
}
.favorites__item {
  text-align: center;
  display: inline-block;
  width: 20%;
}
.favorites__close {
  float: right;
  cursor: pointer;
}